{% block css %}
    {% include 'background-style.html' %}
{% endblock %}
{% extends 'navbar.html' %}
{% block content %}
    <div style="width: auto">
        <form method="POST" enctype="multipart/form-data">
            <center><h1>Please Upload the Radiograph:</h1></center>

            <div style="
    display: inline-flex;
    width: auto;
    align-items: center;
    margin-top: 50px;">

                {{ form.image(size=64, style="left: 200%;") }}<br>

                {% for error in form.image.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                {{ form.submit(style="position: absolute;left: 770px;") }}

            </div>
        </form>
    </div>
{% endblock %}